.page.theme_dark {
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --text-color: #ff0070;
  --border-hover: #ff007066;
  background: url(../images/cover-image-dark.png) center/cover no-repeat;
  background-attachment: fixed;
}