@media (prefers-color-scheme: light) {
  :root {
    --paragraph-color: #353430;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --border-hover: #32312d66;
  }
}
.page.theme_light {
  --paragraph-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --border-hover: #32312d66;
  background: url(../images/cover-image-light.png) center/cover no-repeat;
  background-attachment: fixed;
}
.theme_light .header__lamp::before,
.theme_light .header__lamp::after {
  display: none;
}
